@import url(http://../fonts.googleapis.com/css?family=Pacifico);

@font-face {
    font-family: 'bariol_boldbold';
    src: url('../fonts/supermarket-webfont.eot');
    src: url('../fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermarket-webfont.woff') format('woff'),
         url('../fonts/supermarket-webfont.ttf') format('truetype'),
         url('../fonts/supermarket-webfont.svg#bariol_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bariol_lightlight';
    src: url('../fonts/supermarket-webfont.eot');
    src: url('../fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermarket-webfont.woff') format('woff'),
         url('../fonts/supermarket-webfont.ttf') format('truetype'),
         url('../fonts/supermarket-webfont.svg#bariol_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bariol_regularregular';
    src: url('../fonts/supermarket-webfont.eot');
    src: url('../fonts/supermarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/supermarket-webfont.woff') format('woff'),
         url('../fonts/supermarket-webfont.ttf') format('truetype'),
         url('../fonts/supermarket-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#brand h1 {
    font-family: 'bariol_boldbold' !important;
    color:#161616;
    font-size: 32px;
    line-height: 126%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.header {
    display: block;
    left: 0;
    overflow-x: visible;
    position: relative;
    right: 0;
    /* padding: 0 0 10px; */
    z-index: 1;
}
.navbar-nav {
    margin: 35px 35px 5px;
}
.navbar {
    margin-bottom:0;
}
.header .nav > li > a {
    color:#161616;
    font-size:15px;
    font-weight:500;
}   
.navbar-nav > li > .dropdown-menu {
    margin-top:15px;
}
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background:#b5ecf7;
}   
.navbar-nav > li > .dropdown-menu li:after,
.dropdown-menu li:after {
    content:none !important;
}
.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
    border-bottom:none;
}
.navbar-nav li:after {
    content: url(../images/menu.png);
    right:0;
    position:absolute;
    top:0;
}
.navbar-nav li:last-child:after { 
    content:none;
}
.navbar-nav li:last-child {
    border-right:none;
}
.navbar-nav > li > a {
    font-weight:normal;
    font-size:14px;
    padding-top:1px;
    padding-bottom:20px;
}
.navbar-nav > li > .dropdown-menu:after,
.navbar-nav > li > .dropdown-menu:before {
    display:none;
}
.navbar-default .dropdown-menu {
    box-shadow:none;
    border-color:#E2E3DF;
    background:#ffffff;
    border-radius:0;
}
.header.affix .dropdown-menu li {
    margin:4px 0 !important
}
.header.affix .navbar-nav > li > .dropdown-menu {
    margin-top:4px;
} 
.header.affix{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    margin-top:0;
    padding:0;
    z-index:99;
    background:#fff;
    background:rgba(255,255,255,1);
}
.header.affix .navbar-nav {
    padding:0 !important;
    margin:0 !important;
}
.header.affix .brand img {
    width:80%;
}
.header.affix .navbar-nav li {
    margin-top:19px;
    padding-bottom:0px;
}
.header.affix .navbar-brand {
    padding:14px !important
}
.header.affix .navbar-brand img {
    width:75%;
}
.user-login a.btn-info {
    background: #5bc0de;
    color: #ffffff!important;
}
.user-login a {
    height: 100px;
    min-width: 100px;
    border-radius: 0px;
    line-height: 90px;
    font-weight: bold;
    float: right;
}
.navbar-nav>li:hover {
    background: none!important;
}
.navbar-nav>li a:hover {
    background: none!important;
}
.bg-dark .nav>li:hover>a, .bg-dark .nav>li:focus>a, .bg-dark .nav>li:active>a, .bg-dark .nav>li.active>a, .bg-dark .nav>li>a:hover, .bg-dark .nav>li>a:focus {
    background-color: #f8f8f8!important;
}

/*////////////////////////////////////////////////////*/


label {display: inline-block;margin-bottom: 5px;font-weight: 700;color: #666;}
hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #C7C7C7;
}
.t2r-login{top:4%;}
.t2r-register{margin-top:4%;}
.t2r-detail{margin-top:4%;}
.t2r-login .panel{background: white;overflow: hidden;padding: 25px;border-radius: 15px;}
.t2r-register .panel{background: none;}
.t2r-detail .panel{background: none;}

.package-topup .panel{background: none;}
.bg-t2r{background: url("../images/hy_1.png") ;}
.t2r-login-image {background: url("../images/t2r_logo.png") no-repeat bottom center;height: 320px;display: block;}
.bg-field-hidden{background: #184E6F!important;}
h3{margin-top:0;}

.form-control::-webkit-input-placeholder {color:    #999!important;}
.form-control::-moz-placeholder {color:    #666;}
.form-control::-moz-placeholder {color:    #666;}
.form-control:-ms-input-placeholder {color:    #666;}
.main-field{border: 1px solid #EAEAEA;height: 50px;}
.mainmenu .jobutton{text-align: left;}
.jobutton{/*text-shadow: 1px 1px 1px #8E8585;*/}
.jobutton:hover{/*text-shadow: 1px 1px 1px #8E8585;*/background: red!important;border-color:red;color:#fff!important;}
.main-style{border:1px solid #ccc;}
.package{

    background: rgba(210, 210, 210, 0.07);
    color: #fff;
    border: 1px solid #E2D5D5;
    border-radius: 5px;
    text-shadow: 1px 1px 1px #312D42;
}
.package-topup .panel{
  background: #FFFFFF;
  color: #000;
  border: 3px solid #E2D5D5;
  border-radius: 5px;
  /*text-shadow: 1px 1px 1px #3213A3;*/
  overflow: hidden;
  padding:15px;
}
.package-topup .panel .user{height:auto;overflow: hidden;}
h4.packageplusone{   
    margin-bottom: 0;
    background: #367375;
    border-radius: 5px 5px 0px 0px;
    color: #E9FFFB;
}
.packageplusone{background: #fff;padding:15px;color:#666;text-shadow:none;}
.package-select{background: #666;padding:25px;border-radius: 5px;margin:15px 0px;}
.bg-checkout{font-size: 16px;background: #f2f2f2;color:#666;text-shadow:none;border-radius: 5px;}
.bg-sidebar{background: #fff;color:#000;text-shadow:none;border-radius: 5px;}
.thank{/*border:3px solid #ccc;*/border-radius:10px;margin-bottom: 15px;background: #939393;}
.menu-success-payment{list-style: disc;}
.present-money-total{background: #666;border-radius: 5px;}
.progress{float:left;margin-top:-80px;font-size:22px;height:70px;width: 100%;background: none;overflow: hidden;}
.progress-font{font-size:13px;display: block;}
.progress li.active{background: #0F93E4;}
.progress li{background: #ccc;text-align:center;margin-left:5px;border-radius:6px; }
.bg-none{background: none!important;}
.policy{background: #f2f2f2;padding:15px;color:#666;text-shadow:none;border-radius: 5px;margin-bottom: 15px;overflow-y: scroll;height: 250px;}
.policy-topup{background: #f2f2f2;padding:15px;color:#666;text-shadow:none;border-radius: 5px;margin-bottom: 15px;overflow-y: scroll;height: 180px;}
.topup-container{padding:50px 120px!important;}
.currency{font-size: 30px;}
.policy-register h2{color:#000;}
.next-step{display: none;}
.bg-menu{background:#ccc;}
.bg-menu:hover{background:#666;color:#ccc;}
.sidebar-style{background:#ffffff;padding:15px;border-radius:5px;color:black}
ul#success_finish li a,#success_finish li a:active,#success_finish li a:focus,#success_finish li a:hover{color:#fff!important;}
.no-package{border:1px dotted #c2c2c2;height:50px;padding:15px;background: #eeeeee}
.datepicker span button{padding:8px;}
.datepicker-days{color:black;}
.calldetail-date label{line-height: 40px;}
.btn-primary:hover,{background-color: #C73000!important;}
.btn-primary:focus{background: #FF5620!important}
.text-currency{font-size:20px;font-weight: bold;}
.text-black{color:#444;}
.centered {

    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-top: -200px;
    width: 600px;
    margin-left: -300px;
    border-radius: 8px;

}
.centered-2{

    left: 50%;
    z-index: 100;
    margin-top: 0px;
    width: 600px;
    margin-left: -300px;
    border-radius: 8px;

}

.checkout{background:#fff;border-radius: 15px;padding:25px;margin-top:15px;}
.payment-inner{padding:15px;background: #fff;border:1px solid #ccc;overflow: hidden;padding: 15px 35px;}
.payment-inner .radio{border-bottom:1px solid #ccc;height:auto;padding:15px 25px;}
.payment-inner .radio:last-child {border-bottom:0px solid #ccc; }
.payment-inner .radio  div label input{margin-top:8px;}
.payment-inner .radio  img.payment-image-1{height: 30px;margin-left:25px;}
.payment-inner .radio  img.payment-image-2{width: 250px;margin-left:25px;}
.payment-inner .radio  img.payment-image-3{width: 80px;margin-left:25px;}
.bg-success{padding:15px;border-radius:5px;color:white;text-align:center;}

.goto{text-align: center;}
.goto-button{border-radius: 8px;margin-top:20px;}
.package {

    background: rgb(255, 255, 255);
    color: #fff;
    border-radius: 5px;
    color: #000000;
    text-shadow: none;

}
.bg-dark .nav>li>a {color: #000000;}
.top-bar{border:1px solid #ccc;border-radius: 4px;}
.detail-box{border:1px solid #ccc;padding:15px;border-radius:5px;}
.time select{display: inline;float: left;width:60px!important;margin-right:5px;}
.time {float: left;width:100%;}
.barcode {text-align: center;}
.barcode img{width: 200px;text-align: center;}
.label-box{padding:0 14px!important;}
.label-box-2{padding:0 13px!important;}
.no-padding{padding: 0px;}
.package-box{border:1px solid #ccc;padding: 10px 15px;background: #C0F3FB;}
.package-box div img{width:100px;float:left;margin-right:10px;}
.package-box div .package-text{padding-left:25px;float:left;}
.package-box div .package-text h2{margin-top:10px;float:left;}
.check-mark{display: none;}
.selectpicker.btn-info{background: #fff;color:black;border-color:#eee;}
.profile-img{width:50px;float:left;margin-right:20px;padding-bottom: 100px;}
.tableman{font-size:12px;}
div.dataTables_wrapper {
    position: relative;
    padding: 15px;
}
.dataTables_wrapper .row{

    margin-left:0;
}
.loader {
    position: absolute;
    top: 45%;
    width: 100px;
    left: 48%;
}


